In [17]:
from google.colab import drive
drive.mount("/content/gdrive/")

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
df_new = pd.read_csv("/content/gdrive/MyDrive/BestOneYet.csv")

In [20]:
df_new.head()

,Unnamed: 0,Optimum Time quantum,Avg Arrival Time,Max Arrival Time,Min Arrival Time,Avg Burst Time,Max Burst Time,Min Burst Time,Total Completion Time,Number of processes
0,0,12,5.368421,10,0,8.315789,12,1,158,19
1,1,12,4.176471,9,0,8.000000,12,1,136,17
2,2,15,3.866667,10,0,9.866667,15,4,148,15
3,3,13,4.764706,9,0,8.588235,13,3,146,17
4,4,14,4.421053,10,0,9.157895,14,5,174,19

In [21]:
y_new = df_new["Optimum Time quantum"]
df_new.drop(["Unnamed: 0", "Optimum Time quantum"], axis = "columns", inplace = True)

In [22]:
y_new

0       12
1       12
2       15
3       13
4       14
        ..
9995    15
9996    14
9997    12
9998     9
9999    14
Name: Optimum Time quantum, Length: 10000, dtype: int64

#Random Forest Classifier

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer,accuracy_score

In [27]:
X_train, X_test, y_train, y_test = train_test_split(df_new, y_new, test_size=0.3, random_state=42)

In [28]:
param_grid = {"max_depth":[3,4,5,6,7],"min_samples_split":[8,9,10,11,12,13, 14, 15],"criterion":["gini","entropy","log_loss"]}

In [29]:
rf = RandomForestClassifier()
grid = GridSearchCV(estimator = rf, param_grid = param_grid, cv = 4, verbose = 4, n_jobs = 4)
grid.fit(X_train, y_train)
grid.best_params_

Fitting 4 folds for each of 120 candidates, totalling 480 fits

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  warnings.warn(

{'criterion': 'log_loss', 'max_depth': 7, 'min_samples_split': 12}

In [30]:
print("Train accuracy = ", np.round(grid.score(X_train,y_train), 3))
print("Test accuracy = ", np.round(grid.score(X_test,y_test), 3))

Train accuracy =  0.905
Test accuracy =  0.892

#Random Forest Regressor

In [31]:
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [32]:
param_grid = {"max_depth":[3,4,5,6,7],"min_samples_split":[8,9,10,11,12,13,14,15],"criterion":['poisson', 'friedman_mse', 'absolute_error', 'squared_error']}

In [34]:
rf = RandomForestRegressor()
grid = GridSearchCV(estimator = rf, param_grid = param_grid, cv = 4, verbose = 4, n_jobs = 4, error_score = 'raise')
grid.fit(X_train, y_train)
grid.best_params_

Fitting 4 folds for each of 160 candidates, totalling 640 fits

{'criterion': 'friedman_mse', 'max_depth': 5, 'min_samples_split': 12}

In [35]:
predictions = grid.predict(X_test)
predictions

array([14.90334891, 13.92782308, 14.91584402, ..., 12.69591495,
       13.93223585, 13.9290768 ])

In [36]:
print("R2 value = ",round(metrics.r2_score(y_test,predictions),3))
print("MAE = ",round(metrics.mean_absolute_error(y_test,predictions),3))
print("MSE = ",round(metrics.mean_squared_error(y_test,predictions),3))
print("RMSE = ",round(np.sqrt(metrics.mean_squared_error(y_test,predictions)),3))

R2 value =  0.826
MAE =  0.214
MSE =  0.285
RMSE =  0.534