In [23]:
from google.colab import drive
drive.mount("/content/gdrive/")

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
df_new = pd.read_csv("/content/gdrive/MyDrive/new.csv")
df_old = pd.read_csv("/content/gdrive/MyDrive/data.csv")

In [26]:
df_new.head()

,Unnamed: 0,Optimum Time quantum,Avg Arrival Time,Avg Burst Time,Variance of Burst Time,Total Completion Time,Number of processes
0,0,7,3.500000,8.166667,4.966667,49,6
1,1,8,3.571429,9.714286,3.571429,68,7
2,2,1,3.333333,6.833333,16.566667,41,6
3,3,5,5.400000,9.400000,7.300000,47,5
4,4,5,6.000000,8.428571,11.619048,59,7

In [27]:
df_old.head()

,Unnamed: 0,Optimum Time quantum,Avg Arrival Time,Avg Burst Time,Total Completion Time,Number of processes
0,0,2,10.777778,13.000000,117,9
1,1,3,10.500000,12.500000,75,6
2,2,7,8.000000,16.200000,81,5
3,3,3,11.500000,7.500000,30,4
4,4,9,10.000000,15.333333,46,3

In [28]:
df_new.drop(["Unnamed: 0"], axis = "columns", inplace = True)
df_old.drop(["Unnamed: 0"], axis = "columns", inplace = True)
y_new = df_new["Optimum Time quantum"]
y_old = df_old["Optimum Time quantum"]
df_new.drop(["Optimum Time quantum"], axis = "columns", inplace = True)
df_old.drop(["Optimum Time quantum"], axis = "columns", inplace = True)

#New dataset

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer,accuracy_score

In [30]:
X_train, X_test, y_train, y_test = train_test_split(df_new, y_new, test_size=0.3, random_state=42, stratify=y_new)

In [31]:
param_grid = {"max_depth":[3,4,5,6,7],"min_samples_split":[8,9,10,11,12,13],"criterion":["gini","entropy"]}

In [33]:
rf = RandomForestClassifier()
grid = GridSearchCV(estimator = rf, param_grid = param_grid, cv = 4, verbose = 4, n_jobs = 4)
grid.fit(X_train, y_train)
grid.best_params_

Fitting 4 folds for each of 60 candidates, totalling 240 fits

{'criterion': 'gini', 'max_depth': 7, 'min_samples_split': 11}

In [34]:
print("Train accuracy = ", np.round(grid.score(X_train,y_train), 3))
print("Test accuracy = ", np.round(grid.score(X_test,y_test), 3))

Train accuracy =  0.319
Test accuracy =  0.317

#Old dataset

In [35]:
X_train, X_test, y_train, y_test = train_test_split(df_old, y_old, test_size=0.3, random_state=42, stratify=y_old)

In [36]:
grid.fit(X_train, y_train)
grid.best_params_

Fitting 4 folds for each of 60 candidates, totalling 240 fits

{'criterion': 'entropy', 'max_depth': 3, 'min_samples_split': 8}

In [37]:
print("Train accuracy = ", np.round(grid.score(X_train,y_train), 3))
print("Test accuracy = ", np.round(grid.score(X_test,y_test), 3))

Train accuracy =  0.304
Test accuracy =  0.299