In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [87]:
def Round_Robin(burst_list, arrival_list, time_quantum, total_completion_time):
    queue = []
    remaining_burst_time_list = [burst_list[i] for i in range(len(burst_list))]
    flag_list = [True for i in range(len(burst_list))]
    completion_list = [-1 for i in range(len(burst_list))]
    waiting_list = [-1 for i in range(len(burst_list))]
    turnaround_list = [-1 for i in range(len(burst_list))]
    k, check = arrival_list[0], -1
    avgTAT, avgWT = 0, 0
    while k < total_completion_time:
        for i in range(len(burst_list)):
            if arrival_list[i] <= k and flag_list[i] and remaining_burst_time_list[i] > 0:
                queue.append(i)
                flag_list[i] = False
        if check != -1 and remaining_burst_time_list[check] > 0:
            queue.append(check)
            flag_list[check] = False
        if queue != []:
            if remaining_burst_time_list[queue[0]] <= time_quantum:
                k += remaining_burst_time_list[queue[0]]
                remaining_burst_time_list[queue[0]] = 0
                check = -1
            else:
                k += time_quantum
                remaining_burst_time_list[queue[0]] -= time_quantum
                flag_list[queue[0]] = False
                check = queue[0]
            if remaining_burst_time_list[queue[0]] == 0:
                completion_list[queue[0]] = k
                turnaround_list[queue[0]] = completion_list[queue[0]] - arrival_list[queue[0]]
                waiting_list[queue[0]] = turnaround_list[queue[0]] - burst_list[queue[0]]
                avgTAT += turnaround_list[queue[0]]
                avgWT += waiting_list[queue[0]]
            queue.pop(0)

    avgTAT /= len(burst_list)
    avgWT /= len(burst_list)
    return avgTAT

In [97]:
avg_burst_list, avg_arrival_list, completion_list, turnaround_list, completion_list, time_quantum_list = [], [], [], [], [], []
for i in range(10):
  burst_list, arrival_list, lst = [], [], []
  number_of_processes = random.randint(2, 10)
  for j in range(number_of_processes):
    burst_list.append(random.randint(1, 20))
    arrival_list.append(random.randint(1, 20))
  avg_arrival_list.append(sum(arrival_list)/len(arrival_list))
  avg_burst_list.append(sum(burst_list)/len(burst_list))
  completion_list.append(sum(burst_list))
  arrival_list.sort()
  for j in range(1, 10):
    temp = Round_Robin(burst_list, arrival_list, j, sum(burst_list))
    lst.append(temp)
  turnaround_list.append(min(lst))
  time_quantum_list.append(lst.index(min(lst)) + 1)

In [98]:
turnaround_list

[13.0,
 11.4,
 7.25,
 14.0,
 29.555555555555557,
 71.7,
 37.666666666666664,
 17.166666666666668,
 17.142857142857142,
 5.166666666666667]

In [99]:
time_quantum_list

[1, 5, 1, 3, 8, 2, 1, 8, 4, 7]

In [100]:
data = {"Optimum Time quantum":time_quantum_list, "Avg Arrival Time":avg_arrival_list, "Avg Burst Time":avg_burst_list, "Total Completion Time":completion_list}

In [103]:
df = pd.DataFrame(data)
df

,Optimum Time quantum,Avg Arrival Time,Avg Burst Time,Total Completion Time
0,1,6.000000,12.000000,36
1,5,8.400000,6.800000,34
2,1,11.500000,11.500000,46
3,3,12.400000,12.400000,62
4,8,14.666667,10.666667,96
5,2,12.200000,12.300000,123
6,1,7.777778,10.000000,90
7,8,16.166667,13.333333,80
8,4,9.142857,9.857143,69
9,7,15.333333,7.500000,45